.link {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  color: black;
}
.image {
  background-color: var(--color-blue);
  height: 20rem;
  width: 15rem;
  object-fit: cover;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.66rem;
  padding: 1rem 0.5rem;
}

.title {
  font-size: 1.33rem;
  font-weight: 700;
}

.date {
  color: #00000080;
}
