.searchBar {
  width: 100%;
  border-radius: 9999px;
  border: 2px solid var(--color-lightblue);
  padding: 0.25rem 1rem;
}

.searchBar:focus {
  outline: none;
  border: 2px solid var(--color-blue);
}
